.cuerpo-pagina { 
    background-image: url(https://cdn-images.dzcdn.net/images/cover/11927949f9898cb5d886d966dc14155b/1900x1900-000000-80-0-0.jpg);
    background-attachment: fixed;
    margin: 40px;
    height: 120%;
}

.titulo-principal {
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: underline;
    margin: auto;
    padding: 22px;
    width: 70vw;
    border: 10px transparent;
    box-shadow: 0 0 40px 0 black;
    border-radius: 100px;
    font-size: 50px;
}

.lista-canciones { /* Bloque para los contenedores padre de la cancion-item */
    display: flex;
}

.cancion-item { /* Bloque para cada div individual de canción */
    background-color: rgba(255, 255, 255, 0.301);
    width: 20vw;
    margin-top: 4vh;
    padding: 1px 1px 30px 5px;
    margin-left: 7vw;
    margin-right: 5vw;
    margin-top: 10vh;
    border: 5px none;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.616);
}

.cancion-item--compacto { /* Modificador para .div-corto */
    height: 45vh;
}

.cancion-item__link { /* Elemento para los 'a' y los "h2" dentro de cancion-item */
    text-decoration: none;
    color: rgb(68, 47, 255);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: none;
    display: block;
    background-color:black;
    padding:10px;
    width:10vw;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 5px transparent;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.616);
    box-sizing: border-box;
    font-size: 20px;
}

.cancion-item__link:hover {
    background-color: white;
}

.cancion-item__imagen { /* Elemento para las img dentro de cancion-item */
    width: 15vw;
    height: 30vh;
    margin: auto;
    display: block;
    border-radius: 5px;
}

.cancion-item__imagen--alargada { /* Modificador para .imagen-alargada */
    height: 20vh;
}

.cancion-item__escuchas { /* Elemento para los p dentro de cancion-item */
    text-align: justify; 
    font-family: comic sans ms;
    text-align: center; 
}