.cuerpo {
    background: linear-gradient(rgb(0, 132, 255), rgb(0, 255, 221));
    margin: 0;
}
.box {
    background-image: url(https://cdn-images.dzcdn.net/images/cover/b91a10713004f21a2b62ac08dc1b13c6/500x500.jpg);
    height: 250px;
    background-attachment: fixed;
}
.title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: underline;
    margin: auto;
    padding: 22px;
    width: 70vw;
    border: 10px transparent;
    box-shadow: 0 0 40px 0 black;
    border-radius:100px;
    font-size: 50px;
}
.boton_esquina_superior {
    position: fixed;
    top: 5px;
    right: 20px;
    background:black;
    box-shadow: 0 0 40px 0 black;
    border: 5px transparent;
    border-radius: 10px;
    padding: 6px;
    color: white;
}
.Informacion-principal {
    text-align: justify;
    font-family: comic sans ms;
    text-align: justify;
    background-color: rgba(192, 192, 192, 0.63);
    border-left: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 black;
    width: 80vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 26px;
}
.resaltado {
    font-size: 1.3em;
}
.Informacion-adicional {
    color: rgb(68, 47, 255);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: underline;
    background-color: rgb(0, 195, 255);
    padding:5px;
    width:400px;
    margin-top: 10px;
    margin-left: 60px;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0 0 40px 0 black;
    box-sizing: border-box;
    font-size: 18px;
}
.list {
    margin: auto;
    margin-bottom: 13px;
    box-shadow: 0 0 40px 0 black;
    background-color: rgb(0, 195, 255);
    box-sizing: border-box;
    font-size: 18px;
    color: rgb(68, 47, 255);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: underline;
    padding:5px;
    width:400px;
    border: 5px solid black;
    border-radius: 30px;
}
.second-image {
    width: 100%;
    height:630px;
    background-image: url(https://cdn-images.dzcdn.net/images/cover/31987cc289d4606125e556a11cfd54cb/0x1900-000000-80-0-0.jpg);
    margin: 0;
    background-attachment: fixed;
    background-position: top;
}
.Curiosidades {
    font-family: comic sans ms;
    text-align: justify;
    background-color: rgba(192, 192, 192, 0.521);
    border-left: 5px solid black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 black;
    width: 89vw;
    margin-top: 10px;
    margin: auto;
}
.canciones {
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: comic sans ms ;
    background-color:rgba(128, 128, 128, 0.466);
    width: 250px;
    border: 10px transparent;
    border-left: 5px solid;
    border-radius: 12px;
    padding: 7px;
    font-size: 18px;
    display: block;
    margin-top: 5px;
    margin-left: 50px;
}
video {
    position:absolute;
    left: 500px;
    top: 1320px;
    height: 300px;
    width: 300px;
    z-index: 2;
}
.Canción-principal {
    color: rgb(68, 47, 255);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: underline;
    background-color: rgb(0, 195, 255);
    padding:5px;
    position:absolute;
    top:1350px;
    right: 20px;
    width:400px;
    margin-top: 10px;
    margin-left: 60px;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0 0 40px 0 black;
    box-sizing: border-box;
    font-size: 18px;
}
.Titulo {
    color: rgb(68, 47, 255);
    text-align: center;
    font-family: comic sans ms;
    text-decoration: none;
    background-color: rgb(0, 195, 255);
    position:absolute;
    padding: 2px;
    top:1320px;
    right: 575px;
    width:250px;
    margin-top: 10px;
    margin-left: 60px;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 0 0 40px 0 black;
    box-sizing: border-box;
    font-size: 15px;
}
details {
    position: absolute; 
    right: 20px;
    border: 2px solid white;
    font-family: comic sans ms;
    text-align: justify;
    background-color: rgba(192, 192, 192, 0.521);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 black;
    top: 1430px;
    z-index: 1;
    font-size: 10px;
    font-weight: bold;
}
summary {
    padding: 5px;
}
ul {
    padding: 20px;
    border-top: 1px solid white;
}
.enlace-carrera {
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: comic sans ms ;
    background-color:rgba(128, 128, 128, 0.466);
    width: 130px;
    border: 10px transparent;
    border-left: 5px solid;
    border-radius: 12px;
    padding: 7px;
    font-size: 18px;
    margin-left: 50px;
    display: block;
    margin-top: 5px;
}
.enlace-youtube {
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: comic sans ms ;
    background-color:rgba(128, 128, 128, 0.466);
    width: 130px;
    border: 10px transparent;
    border-left: 5px solid;
    border-radius: 12px;
    padding: 7px;
    font-size: 18px;
    margin-left: 50px;
    display: block;
}
.enlace-instagram {
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: comic sans ms ;
    background-color:rgba(128, 128, 128, 0.466);
    width: 130px;
    border: 10px transparent;
    border-left: 5px solid;
    border-radius: 12px;
    padding: 7px;
    font-size: 18px;
    margin-left: 50px;
    display: block;
}
